# Secrets
.env

# Temporary and binary files
.quarto/
_book/
_freeze/
*_files/
.jupyter_cache/
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
.ipynb_checkpoints/*
/**/.ipynb_checkpoints/*
.DS_Store
init.just

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
/**/*.html
/**/*_files/
site/


# Data
/**/*.zarr
/**/*.tif
data/
